<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Clustering Perum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Clustering Perum</h1>
    <form action="{{ url_for('cluster') }}" method="post">
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1"><br>
        <label for="input2">Input 2:</label>
        <input type="text" id="input2" name="input2"><br>
        <label for="input3">Input 3:</label>
        <input type="text" id="input3" name="input3"><br>
        <label for="input4">Input 4:</label>
        <input type="text" id="input4" name="input4"><br>
        <input type="submit" value="Submit">
    </form>
    {% if result %}
        <h2>Cluster Result: {{ result }}</h2>
    {% endif %}
</body>
</html>
